In [30]:
import pandas as pd

# Read the data from the CSV files
file1 = "Industry _including_construction_value_added_(current US$).csv"
file2 = "Industry_including_construction_value_added_ _of_GDP.csv"
file3 = "Labor_force_total.csv"
file4 = "Unemployment_total_ _of_total_labor_force.csv"

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
df4 = pd.read_csv(file4)

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0               68 non-null     object
 1   2000        68 non-null     object
 2   2001        68 non-null     object
 3   2002        68 non-null     object
 4   Unnamed: 4  0 non-null      float64
 5   2003        68 non-null     object
 6   2004        68 non-null     object
 7   2005        68 non-null     object
 8   2006        68 non-null     object
 9   2007        68 non-null     object
 10  2008        68 non-null     object
 11  2009        68 non-null     object
 12  2010        68 non-null     object
 13  2011        68 non-null     object
 14  2012        68 non-null     object
 15  2013        68 non-null     object
 16  2014        68 non-null     object
 17  2015        68 non-null     object
 18  2016        68 non-null     object
 19  2017        68 non-null     object
 20  2018        68 non-null     object
 21  2019        68 non-null     object
 22  2020        68 non-null     object
 23  2021        68 non-null     object
dtypes: float64(1), object(23)
memory usage: 12.9+ KB

In [32]:
#now drop unnamed: 4 column
df1 = df1.drop(columns=['Unnamed: 4'])

In [33]:
df1.head()

,,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ireland,"31,566,722,637.1","37,268,758,566.1","45,143,959,977.4","53,121,134,676.0","59,800,704,626.7","63,635,542,139.5","69,840,796,138.2","77,044,361,279.4","71,411,271,347.7",...,"54,023,049,747.9","56,903,675,590.9","62,993,252,004.1","111,318,682,066.0","110,377,823,680.1","120,879,061,416.1","141,754,391,305.4","141,483,411,206.9","159,713,727,370.9","190,539,727,704.6"
1,Germany,"539,832,139,038.4","526,709,873,232.7","548,277,686,693.3","655,099,098,353.3","743,125,902,473.0","750,242,418,303.5","807,803,314,704.7","933,007,744,317.7","1,005,554,043,228.9",...,"962,345,258,894.5","1,000,010,461,981.6","1,050,482,768,178.8","910,234,389,852.7","956,586,777,019.8","1,013,592,879,414.1","1,085,272,394,465.1","1,048,041,960,807.8","1,035,472,731,117.5","1,138,957,629,279.1"
2,Belgium,"59,065,114,871.1","57,558,079,403.3","61,462,575,829.0","73,879,931,157.1","84,771,694,096.0","87,070,394,710.7","90,388,424,787.9","104,930,651,072.5","111,719,320,784.0",...,"99,603,884,181.4","103,727,878,228.0","105,337,092,888.4","90,940,891,226.2","91,824,033,248.2","96,708,616,474.1","102,867,869,244.6","103,188,346,573.3","102,320,897,149.6","116,563,670,245.3"
3,Denmark,"38,827,989,880.1","37,721,939,131.1","40,471,111,505.2","48,336,610,349.6","55,627,917,744.7","58,816,297,753.8","64,553,196,004.6","70,805,547,697.3","79,838,161,864.2",...,"66,731,571,075.0","68,929,238,730.3","69,839,775,499.8","60,496,642,597.2","64,716,731,650.4","68,892,662,189.5","74,310,375,155.3","71,756,209,116.9","71,041,167,875.0","76,952,497,060.5"
4,Greece,"24,457,701,784.8","26,352,365,530.7","30,045,306,326.2","41,521,328,053.9","49,021,674,077.8","44,132,955,361.2","54,674,449,338.8","57,397,273,078.9","55,734,510,867.6",...,"35,831,897,819.8","35,979,371,116.4","33,245,906,161.1","28,372,790,945.4","28,068,324,463.3","27,436,026,745.3","28,899,027,980.6","27,408,693,342.4","28,284,938,962.4","32,902,177,224.4"

In [34]:
#now change all the cloumns values comas to dots
df1 = df1.applymap(lambda x: x.replace(",", ""))
"""
for col in df1.columns:
    df1[col] = df1[col].str.replace(",", "")
""" ## we could use this method too

'\nfor col in df1.columns:\n    df1[col] = df1[col].str.replace(",", "")\n'

In [35]:
for column in df1.columns:
    df1.iloc[:,1:] = df1.iloc[:,1:].apply(lambda x: float(x) if isinstance(x, str) else x) #convert all the values to float

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0                68 non-null     object
 1   2000         68 non-null     object
 2   2001         68 non-null     object
 3   2002         68 non-null     float64
 4   2003         68 non-null     float64
 5   2004         68 non-null     float64
 6   2005         68 non-null     float64
 7   2006         68 non-null     float64
 8   2007         68 non-null     float64
 9   2008         68 non-null     float64
 10  2009         68 non-null     float64
 11  Unnamed: 11  0 non-null      float64
 12  2010         68 non-null     float64
 13  2011         68 non-null     float64
 14  2012         68 non-null     float64
 15  2013         68 non-null     float64
 16  2014         68 non-null     float64
 17  2015         68 non-null     float64
 18  2016         68 non-null     float64
 19  2017         68 non-null     float64
 20  2018         68 non-null     float64
 21  2019         68 non-null     object
 22  2020         68 non-null     object
 23  2021         68 non-null     object
dtypes: float64(18), object(6)
memory usage: 12.9+ KB

In [37]:
#now drop unnamed: 11 column
df2 = df2.drop(columns=['Unnamed: 11'])

In [38]:
df2.head()

,,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ireland,31.5,34.1,35.1,32.3,30.8,30.0,30.1,28.5,25.9,...,23.9,23.9,24.3,38.2,36.9,35.9,36.7,35.4,37.5,37.8
1,Germany,27.7,27.1,26.4,26.2,26.4,26.4,27.0,27.2,26.8,...,27.3,26.8,27.0,27.1,27.6,27.5,27.3,27.0,26.6,26.7
2,Belgium,24.9,24.3,23.8,23.2,23.0,22.6,22.1,22.3,21.6,...,20.1,19.9,19.7,19.7,19.3,19.2,18.9,19.3,19.5,19.6
3,Denmark,23.7,22.9,22.7,22.2,22.1,22.2,22.8,22.2,22.6,...,20.4,20.1,19.8,20.0,20.7,20.7,20.8,20.7,20.0,19.3
4,Greece,18.7,19.3,19.4,20.5,20.3,17.8,20.0,18.0,15.7,...,14.8,15.1,14.1,14.5,14.5,13.7,13.6,13.4,15.0,15.3

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0               68 non-null     object
 1   2000        68 non-null     object
 2   2001        68 non-null     object
 3   2002        68 non-null     object
 4   2003        68 non-null     object
 5   Unnamed: 5  0 non-null      float64
 6   2004        68 non-null     object
 7   2005        68 non-null     object
 8   2006        68 non-null     object
 9   2007        68 non-null     object
 10  2008        68 non-null     object
 11  2009        68 non-null     object
 12  2010        68 non-null     object
 13  2011        68 non-null     object
 14  2012        68 non-null     object
 15  2013        68 non-null     object
 16  2014        68 non-null     object
 17  2015        68 non-null     object
 18  2016        68 non-null     object
 19  2017        68 non-null     object
 20  2018        68 non-null     object
 21  2019        68 non-null     object
 22  2020        68 non-null     object
 23  2021        68 non-null     object
dtypes: float64(1), object(23)
memory usage: 12.9+ KB

In [40]:
#now drop unnamed: 5 column
df3 = df3.drop(columns=['Unnamed: 5'])

In [41]:
#now change all the cloumns values comas to dots
df3 = df3.applymap(lambda x: x.replace(",", ""))

In [42]:
df3.head()

,,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ireland,1862430.0,1898123.0,1941828.0,1984446.0,2033886.0,2151141.0,2241382.0,2336096.0,2355177.0,...,2225018.0,2247873.0,2258498.0,2285833.0,2330010.0,2354153.0,2397838.0,2446760.0,2432234.0,2551561.0
1,Germany,39865801.0,40029198.0,40056637.0,40236914.0,40039826.0,41239999.0,41693116.0,41861246.0,41917490.0,...,41853628.0,42212988.0,42458390.0,42660629.0,43567225.0,43819028.0,43935038.0,44433744.0,43501190.0,43386527.0
2,Belgium,4416525.0,4315763.0,4365043.0,4402418.0,4485839.0,4626679.0,4646803.0,4728844.0,4777353.0,...,4910968.0,4962050.0,4978926.0,4989597.0,4997187.0,5086330.0,5144068.0,5194405.0,5167188.0,5262812.0
3,Denmark,2853060.0,2841507.0,2868928.0,2868194.0,2895623.0,2893154.0,2917717.0,2924753.0,2918710.0,...,2871734.0,2850392.0,2865028.0,2895364.0,2939677.0,2966464.0,2990219.0,3032098.0,3028252.0,3070703.0
4,Greece,4860889.0,4819343.0,4881094.0,4935423.0,5019191.0,5019255.0,5043207.0,5031298.0,5032007.0,...,4927758.0,4867433.0,4812543.0,4788983.0,4774947.0,4753621.0,4727112.0,4735273.0,4643796.0,4605900.0

In [43]:
df4.head()

,,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ireland,4.3,3.7,4.2,4.5,4.5,4.3,4.4,5.0,6.8,...,15.5,13.7,11.9,9.9,8.4,6.7,5.7,5.0,5.6,6.2
1,Germany,7.9,7.8,8.5,9.8,10.7,11.2,10.3,8.7,7.5,...,5.4,5.2,5.0,4.6,4.1,3.8,3.4,3.1,3.9,3.6
2,Belgium,6.6,6.2,6.9,7.7,7.4,8.4,8.3,7.5,7.0,...,7.5,8.4,8.5,8.5,7.8,7.1,6.0,5.4,5.6,6.3
3,Denmark,4.5,4.2,4.3,5.4,5.2,4.8,3.9,3.8,3.7,...,7.8,7.4,6.9,6.3,6.0,5.8,5.1,5.0,5.6,5.1
4,Greece,11.3,10.8,10.4,9.8,10.6,10.1,8.9,8.4,7.7,...,24.7,27.7,26.7,25.0,23.5,21.4,19.2,17.0,15.9,14.7

In [44]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0                68 non-null     object
 1   2000         68 non-null     object
 2   2001         68 non-null     object
 3   2002         68 non-null     object
 4   2003         68 non-null     object
 5   2004         68 non-null     object
 6   2005         68 non-null     object
 7   2006         68 non-null     object
 8   2007         68 non-null     object
 9   2008         68 non-null     object
 10  2009         68 non-null     object
 11  Unnamed: 11  0 non-null      float64
 12  2010         68 non-null     object
 13  2011         68 non-null     object
 14  2012         68 non-null     object
 15  2013         68 non-null     object
 16  2014         68 non-null     object
 17  2015         68 non-null     object
 18  2016         68 non-null     object
 19  2017         68 non-null     object
 20  2018         68 non-null     object
 21  2019         68 non-null     object
 22  2020         68 non-null     object
 23  2021         68 non-null     object
dtypes: float64(1), object(23)
memory usage: 12.9+ KB

In [45]:
#now drop unnamed: 11 column
df4 = df4.drop(columns=['Unnamed: 11'])

In [46]:
df1.head(2342)

,,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Ireland,31566722637.1,37268758566.1,45143959977.4,53121134676.0,59800704626.7,63635542139.5,69840796138.2,77044361279.4,71411271347.7,...,54023049747.9,56903675590.9,62993252004.1,111318682066.0,110377823680.1,120879061416.1,141754391305.4,141483411206.9,159713727370.9,190539727704.6
1,Germany,539832139038.4,526709873232.7,548277686693.3,655099098353.3,743125902473.0,750242418303.5,807803314704.7,933007744317.7,1005554043228.9,...,962345258894.5,1000010461981.6,1050482768178.8,910234389852.7,956586777019.8,1013592879414.1,1085272394465.1,1048041960807.8,1035472731117.5,1138957629279.1
2,Belgium,59065114871.1,57558079403.3,61462575829.0,73879931157.1,84771694096.0,87070394710.7,90388424787.9,104930651072.5,111719320784.0,...,99603884181.4,103727878228.0,105337092888.4,90940891226.2,91824033248.2,96708616474.1,102867869244.6,103188346573.3,102320897149.6,116563670245.3
3,Denmark,38827989880.1,37721939131.1,40471111505.2,48336610349.6,55627917744.7,58816297753.8,64553196004.6,70805547697.3,79838161864.2,...,66731571075.0,68929238730.3,69839775499.8,60496642597.2,64716731650.4,68892662189.5,74310375155.3,71756209116.9,71041167875.0,76952497060.5
4,Greece,24457701784.8,26352365530.7,30045306326.2,41521328053.9,49021674077.8,44132955361.2,54674449338.8,57397273078.9,55734510867.6,...,35831897819.8,35979371116.4,33245906161.1,28372790945.4,28068324463.3,27436026745.3,28899027980.6,27408693342.4,28284938962.4,32902177224.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Tunisia,5756255927.6,5833530270.4,6150313005.6,7017384555.7,7976555600.2,8530907969.8,9345379414.0,11249414702.7,14108513919.3,...,14250848325.8,14185572721.1,13637980797.5,11397634584.0,10649813780.3,9960858064.0,10110695530.6,9737016085.1,9161570189.2,10792735730.9
64,Turkiye,73506094529.8,51453852480.4,59082397890.1,77999063695.1,102656332865.7,127778462935.4,145023575848.8,179695556144.0,201458764733.0,...,234662527227.2,265114265259.0,264002129312.3,240576920992.6,244235524187.9,250240397001.2,228906722144.0,207149944270.2,201862545886.5,254832263039.0
65,Ukraine,10246865924.0,11756668714.3,13281643074.4,15825004219.3,19743748825.0,26937967100.5,34173465346.5,45599603960.4,52828068043.7,...,44307971467.9,42729388214.7,30464132181.3,19779168402.4,21638390218.9,26104539678.0,30488888071.9,34747423159.1,32576425855.5,46943583203.2
66,United Kingdom,376258132849.1,355939254354.4,379211630695.4,427941224489.8,489948736726.5,515240000000.0,544434222631.1,609047619047.6,583439338235.3,...,494102342331.0,517416598088.4,556964783400.0,528093174769.6,472000719835.5,475559542395.3,511173140793.1,504677347458.3,459555377604.0,547531555342.2
67,United States,2301500414000.0,2271834974000.0,2257131284000.0,2376006127000.0,2559506441000.0,2765127763000.0,2982365475000.0,3100941316000.0,3071171493000.0,...,3114685522000.0,3240903821000.0,3392812407000.0,3383977115000.0,3373013267000.0,3590729593000.0,3825493014000.0,3908533954000.0,3687357961000.0,4169821339000.0

In [247]:
df1 = df1.transpose()
df2 = df2.transpose() 
df3 = df3.transpose()
df4 = df4.transpose()

In [47]:
df1.columns = [f"{col}_ValueAdded_USD" for col in df1.columns]
df2.columns = [f"{col}_Unemployment" for col in df2.columns]
df3.columns = [f"{col}_LaborForce" for col in df3.columns]
df4.columns = [f"{col}_ValueAdded_GDP" for col in df4.columns]

In [48]:
df_final = pd.concat([df1, df2, df3, df4], axis=1)

In [49]:
print(df_final.head())

   _ValueAdded_USD 2000_ValueAdded_USD 2001_ValueAdded_USD  \
0          Ireland       31566722637.1       37268758566.1
1          Germany      539832139038.4      526709873232.7
2          Belgium       59065114871.1       57558079403.3
3          Denmark       38827989880.1       37721939131.1
4           Greece       24457701784.8       26352365530.7

  2002_ValueAdded_USD 2003_ValueAdded_USD 2004_ValueAdded_USD  \
0       45143959977.4       53121134676.0       59800704626.7
1      548277686693.3      655099098353.3      743125902473.0
2       61462575829.0       73879931157.1       84771694096.0
3       40471111505.2       48336610349.6       55627917744.7
4       30045306326.2       41521328053.9       49021674077.8

  2005_ValueAdded_USD 2006_ValueAdded_USD 2007_ValueAdded_USD  \
0       63635542139.5       69840796138.2       77044361279.4
1      750242418303.5      807803314704.7      933007744317.7
2       87070394710.7       90388424787.9      104930651072.5
3       58816297753.8       64553196004.6       70805547697.3
4       44132955361.2       54674449338.8       57397273078.9

  2008_ValueAdded_USD  ... 2012_ValueAdded_GDP 2013_ValueAdded_GDP  \
0       71411271347.7  ...                15.5                13.7
1     1005554043228.9  ...                 5.4                 5.2
2      111719320784.0  ...                 7.5                 8.4
3       79838161864.2  ...                 7.8                 7.4
4       55734510867.6  ...                24.7                27.7

  2014_ValueAdded_GDP 2015_ValueAdded_GDP 2016_ValueAdded_GDP  \
0                11.9                 9.9                 8.4
1                 5.0                 4.6                 4.1
2                 8.5                 8.5                 7.8
3                 6.9                 6.3                 6.0
4                26.7                25.0                23.5

  2017_ValueAdded_GDP 2018_ValueAdded_GDP 2019_ValueAdded_GDP  \
0                 6.7                 5.7                 5.0
1                 3.8                 3.4                 3.1
2                 7.1                 6.0                 5.4
3                 5.8                 5.1                 5.0
4                21.4                19.2                17.0

  2020_ValueAdded_GDP 2021_ValueAdded_GDP
0                 5.6                 6.2
1                 3.9                 3.6
2                 5.6                 6.3
3                 5.6                 5.1
4                15.9                14.7

[5 rows x 92 columns]

In [58]:
# Set the first column as the index for each dataframe
df1.set_index(df1.columns[0], inplace=True)
df2.set_index(df2.columns[0], inplace=True)
df3.set_index(df3.columns[0], inplace=True)
df4.set_index(df4.columns[0], inplace=True)

# Concatenate the dataframes along the columns
df_final = pd.concat([df1, df2, df3, df4], axis=1)

# Print the first few rows to check the resulting dataframe
print(df_final.head())

        2000_ValueAdded_USD 2001_ValueAdded_USD 2002_ValueAdded_USD  \
Ireland       31566722637.1       37268758566.1       45143959977.4
Germany      539832139038.4      526709873232.7      548277686693.3
Belgium       59065114871.1       57558079403.3       61462575829.0
Denmark       38827989880.1       37721939131.1       40471111505.2
Greece        24457701784.8       26352365530.7       30045306326.2

        2003_ValueAdded_USD 2004_ValueAdded_USD 2005_ValueAdded_USD  \
Ireland       53121134676.0       59800704626.7       63635542139.5
Germany      655099098353.3      743125902473.0      750242418303.5
Belgium       73879931157.1       84771694096.0       87070394710.7
Denmark       48336610349.6       55627917744.7       58816297753.8
Greece        41521328053.9       49021674077.8       44132955361.2

        2006_ValueAdded_USD 2007_ValueAdded_USD 2008_ValueAdded_USD  \
Ireland       69840796138.2       77044361279.4       71411271347.7
Germany      807803314704.7      933007744317.7     1005554043228.9
Belgium       90388424787.9      104930651072.5      111719320784.0
Denmark       64553196004.6       70805547697.3       79838161864.2
Greece        54674449338.8       57397273078.9       55734510867.6

        2009_ValueAdded_USD  ... 2012_ValueAdded_GDP 2013_ValueAdded_GDP  \
Ireland       60556354828.1  ...                15.5                13.7
Germany      843802916544.1  ...                 5.4                 5.2
Belgium       99550503187.7  ...                 7.5                 8.4
Denmark       64088275849.2  ...                 7.8                 7.4
Greece        50734829820.1  ...                24.7                27.7

        2014_ValueAdded_GDP 2015_ValueAdded_GDP 2016_ValueAdded_GDP  \
Ireland                11.9                 9.9                 8.4
Germany                 5.0                 4.6                 4.1
Belgium                 8.5                 8.5                 7.8
Denmark                 6.9                 6.3                 6.0
Greece                 26.7                25.0                23.5

        2017_ValueAdded_GDP 2018_ValueAdded_GDP 2019_ValueAdded_GDP  \
Ireland                 6.7                 5.7                 5.0
Germany                 3.8                 3.4                 3.1
Belgium                 7.1                 6.0                 5.4
Denmark                 5.8                 5.1                 5.0
Greece                 21.4                19.2                17.0

        2020_ValueAdded_GDP 2021_ValueAdded_GDP
Ireland                 5.6                 6.2
Germany                 3.9                 3.6
Belgium                 5.6                 6.3
Denmark                 5.6                 5.1
Greece                 15.9                14.7

[5 rows x 88 columns]

In [50]:
df_final.shape

(68, 92)

In [51]:
df_final.shape

(68, 92)

In [52]:
df_final.head(67)

,_ValueAdded_USD,2000_ValueAdded_USD,2001_ValueAdded_USD,2002_ValueAdded_USD,2003_ValueAdded_USD,2004_ValueAdded_USD,2005_ValueAdded_USD,2006_ValueAdded_USD,2007_ValueAdded_USD,2008_ValueAdded_USD,...,2012_ValueAdded_GDP,2013_ValueAdded_GDP,2014_ValueAdded_GDP,2015_ValueAdded_GDP,2016_ValueAdded_GDP,2017_ValueAdded_GDP,2018_ValueAdded_GDP,2019_ValueAdded_GDP,2020_ValueAdded_GDP,2021_ValueAdded_GDP
0,Ireland,31566722637.1,37268758566.1,45143959977.4,53121134676.0,59800704626.7,63635542139.5,69840796138.2,77044361279.4,71411271347.7,...,15.5,13.7,11.9,9.9,8.4,6.7,5.7,5.0,5.6,6.2
1,Germany,539832139038.4,526709873232.7,548277686693.3,655099098353.3,743125902473.0,750242418303.5,807803314704.7,933007744317.7,1005554043228.9,...,5.4,5.2,5.0,4.6,4.1,3.8,3.4,3.1,3.9,3.6
2,Belgium,59065114871.1,57558079403.3,61462575829.0,73879931157.1,84771694096.0,87070394710.7,90388424787.9,104930651072.5,111719320784.0,...,7.5,8.4,8.5,8.5,7.8,7.1,6.0,5.4,5.6,6.3
3,Denmark,38827989880.1,37721939131.1,40471111505.2,48336610349.6,55627917744.7,58816297753.8,64553196004.6,70805547697.3,79838161864.2,...,7.8,7.4,6.9,6.3,6.0,5.8,5.1,5.0,5.6,5.1
4,Greece,24457701784.8,26352365530.7,30045306326.2,41521328053.9,49021674077.8,44132955361.2,54674449338.8,57397273078.9,55734510867.6,...,24.7,27.7,26.7,25.0,23.5,21.4,19.2,17.0,15.9,14.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Thailand,46347284340.3,43692887317.4,49549535499.2,57742053677.8,65531470026.7,72897506470.6,86811361596.5,103681825819.4,115036877163.2,...,0.6,0.3,0.6,0.6,0.7,0.8,0.8,0.7,1.1,1.2
63,Tunisia,5756255927.6,5833530270.4,6150313005.6,7017384555.7,7976555600.2,8530907969.8,9345379414.0,11249414702.7,14108513919.3,...,17.6,15.9,14.3,15.2,15.6,15.3,15.5,15.1,..,..
64,Turkiye,73506094529.8,51453852480.4,59082397890.1,77999063695.1,102656332865.7,127778462935.4,145023575848.8,179695556144.0,201458764733.0,...,8.2,8.7,9.9,10.2,10.8,10.8,10.9,13.7,13.1,12.0
65,Ukraine,10246865924.0,11756668714.3,13281643074.4,15825004219.3,19743748825.0,26937967100.5,34173465346.5,45599603960.4,52828068043.7,...,7.5,7.2,9.3,9.1,9.4,9.5,8.8,8.2,9.5,9.8
66,United Kingdom,376258132849.1,355939254354.4,379211630695.4,427941224489.8,489948736726.5,515240000000.0,544434222631.1,609047619047.6,583439338235.3,...,7.9,7.5,6.1,5.3,4.8,4.3,4.0,3.7,..,..

In [53]:
#now lets see the nan values
df_final.isnull().sum()

 _ValueAdded_USD       0
2000_ValueAdded_USD    0
2001_ValueAdded_USD    0
2002_ValueAdded_USD    0
2003_ValueAdded_USD    0
                      ..
2017_ValueAdded_GDP    0
2018_ValueAdded_GDP    0
2019_ValueAdded_GDP    0
2020_ValueAdded_GDP    0
2021_ValueAdded_GDP    0
Length: 92, dtype: int64

In [54]:
#lets drop the nan values
df_final = df_final.dropna()

In [55]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 0 to 67
Data columns (total 92 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0    _ValueAdded_USD     68 non-null     object
 1   2000_ValueAdded_USD  68 non-null     object
 2   2001_ValueAdded_USD  68 non-null     object
 3   2002_ValueAdded_USD  68 non-null     object
 4   2003_ValueAdded_USD  68 non-null     object
 5   2004_ValueAdded_USD  68 non-null     object
 6   2005_ValueAdded_USD  68 non-null     object
 7   2006_ValueAdded_USD  68 non-null     object
 8   2007_ValueAdded_USD  68 non-null     object
 9   2008_ValueAdded_USD  68 non-null     object
 10  2009_ValueAdded_USD  68 non-null     object
 11  2010_ValueAdded_USD  68 non-null     object
 12  2011_ValueAdded_USD  68 non-null     object
 13  2012_ValueAdded_USD  68 non-null     object
 14  2013_ValueAdded_USD  68 non-null     object
 15  2014_ValueAdded_USD  68 non-null     object
 16  2015_ValueAdded_USD  68 non-null     object
 17  2016_ValueAdded_USD  68 non-null     object
 18  2017_ValueAdded_USD  68 non-null     object
 19  2018_ValueAdded_USD  68 non-null     object
 20  2019_ValueAdded_USD  68 non-null     object
 21  2020_ValueAdded_USD  68 non-null     object
 22  2021_ValueAdded_USD  68 non-null     object
 23   _Unemployment       68 non-null     object
 24  2000_Unemployment    68 non-null     object
 25  2001_Unemployment    68 non-null     object
 26  2002_Unemployment    68 non-null     float64
 27  2003_Unemployment    68 non-null     float64
 28  2004_Unemployment    68 non-null     float64
 29  2005_Unemployment    68 non-null     float64
 30  2006_Unemployment    68 non-null     float64
 31  2007_Unemployment    68 non-null     float64
 32  2008_Unemployment    68 non-null     float64
 33  2009_Unemployment    68 non-null     float64
 34  2010_Unemployment    68 non-null     float64
 35  2011_Unemployment    68 non-null     float64
 36  2012_Unemployment    68 non-null     float64
 37  2013_Unemployment    68 non-null     float64
 38  2014_Unemployment    68 non-null     float64
 39  2015_Unemployment    68 non-null     float64
 40  2016_Unemployment    68 non-null     float64
 41  2017_Unemployment    68 non-null     float64
 42  2018_Unemployment    68 non-null     float64
 43  2019_Unemployment    68 non-null     object
 44  2020_Unemployment    68 non-null     object
 45  2021_Unemployment    68 non-null     object
 46   _LaborForce         68 non-null     object
 47  2000_LaborForce      68 non-null     object
 48  2001_LaborForce      68 non-null     object
 49  2002_LaborForce      68 non-null     object
 50  2003_LaborForce      68 non-null     object
 51  2004_LaborForce      68 non-null     object
 52  2005_LaborForce      68 non-null     object
 53  2006_LaborForce      68 non-null     object
 54  2007_LaborForce      68 non-null     object
 55  2008_LaborForce      68 non-null     object
 56  2009_LaborForce      68 non-null     object
 57  2010_LaborForce      68 non-null     object
 58  2011_LaborForce      68 non-null     object
 59  2012_LaborForce      68 non-null     object
 60  2013_LaborForce      68 non-null     object
 61  2014_LaborForce      68 non-null     object
 62  2015_LaborForce      68 non-null     object
 63  2016_LaborForce      68 non-null     object
 64  2017_LaborForce      68 non-null     object
 65  2018_LaborForce      68 non-null     object
 66  2019_LaborForce      68 non-null     object
 67  2020_LaborForce      68 non-null     object
 68  2021_LaborForce      68 non-null     object
 69   _ValueAdded_GDP     68 non-null     object
 70  2000_ValueAdded_GDP  68 non-null     object
 71  2001_ValueAdded_GDP  68 non-null     object
 72  2002_ValueAdded_GDP  68 non-null     object
 73  2003_ValueAdded_GDP  68 non-null     object
 74  2004_ValueAdded_GDP  68 non-null     object
 75  2005_ValueAdded_GDP  68 non-null     object
 76  2006_ValueAdded_GDP  68 non-null     object
 77  2007_ValueAdded_GDP  68 non-null     object
 78  2008_ValueAdded_GDP  68 non-null     object
 79  2009_ValueAdded_GDP  68 non-null     object
 80  2010_ValueAdded_GDP  68 non-null     object
 81  2011_ValueAdded_GDP  68 non-null     object
 82  2012_ValueAdded_GDP  68 non-null     object
 83  2013_ValueAdded_GDP  68 non-null     object
 84  2014_ValueAdded_GDP  68 non-null     object
 85  2015_ValueAdded_GDP  68 non-null     object
 86  2016_ValueAdded_GDP  68 non-null     object
 87  2017_ValueAdded_GDP  68 non-null     object
 88  2018_ValueAdded_GDP  68 non-null     object
 89  2019_ValueAdded_GDP  68 non-null     object
 90  2020_ValueAdded_GDP  68 non-null     object
 91  2021_ValueAdded_GDP  68 non-null     object
dtypes: float64(17), object(75)
memory usage: 49.4+ KB

In [56]:
#let transpose the dataframe
df_final = df_final.transpose()

In [59]:
df_final.head(55)

,2000_ValueAdded_USD,2001_ValueAdded_USD,2002_ValueAdded_USD,2003_ValueAdded_USD,2004_ValueAdded_USD,2005_ValueAdded_USD,2006_ValueAdded_USD,2007_ValueAdded_USD,2008_ValueAdded_USD,2009_ValueAdded_USD,...,2012_ValueAdded_GDP,2013_ValueAdded_GDP,2014_ValueAdded_GDP,2015_ValueAdded_GDP,2016_ValueAdded_GDP,2017_ValueAdded_GDP,2018_ValueAdded_GDP,2019_ValueAdded_GDP,2020_ValueAdded_GDP,2021_ValueAdded_GDP
Ireland,31566722637.1,37268758566.1,45143959977.4,53121134676.0,59800704626.7,63635542139.5,69840796138.2,77044361279.4,71411271347.7,60556354828.1,...,15.5,13.7,11.9,9.9,8.4,6.7,5.7,5.0,5.6,6.2
Germany,539832139038.4,526709873232.7,548277686693.3,655099098353.3,743125902473.0,750242418303.5,807803314704.7,933007744317.7,1005554043228.9,843802916544.1,...,5.4,5.2,5.0,4.6,4.1,3.8,3.4,3.1,3.9,3.6
Belgium,59065114871.1,57558079403.3,61462575829.0,73879931157.1,84771694096.0,87070394710.7,90388424787.9,104930651072.5,111719320784.0,99550503187.7,...,7.5,8.4,8.5,8.5,7.8,7.1,6.0,5.4,5.6,6.3
Denmark,38827989880.1,37721939131.1,40471111505.2,48336610349.6,55627917744.7,58816297753.8,64553196004.6,70805547697.3,79838161864.2,64088275849.2,...,7.8,7.4,6.9,6.3,6.0,5.8,5.1,5.0,5.6,5.1
Greece,24457701784.8,26352365530.7,30045306326.2,41521328053.9,49021674077.8,44132955361.2,54674449338.8,57397273078.9,55734510867.6,50734829820.1,...,24.7,27.7,26.7,25.0,23.5,21.4,19.2,17.0,15.9,14.7
Spain,167357670269.8,175512040368.1,196650022116.5,248845105831.0,288580361842.5,313452276395.3,339457419935.3,387716460162.4,429023782500.8,371371978083.6,...,24.8,26.1,24.4,22.1,19.6,17.2,15.3,14.1,15.5,14.8
Italy,278749222854.3,281736657914.1,306801418316.8,370415550933.7,423073568118.1,432436696818.1,456213671137.1,526097053977.1,568475815479.1,481450020035.1,...,10.7,12.2,12.7,11.9,11.7,11.2,10.6,10.0,9.2,9.5
Netherlands,90761557967.1,94488915157.5,100210012280.0,120530795586.3,136351596336.7,144081826714.4,155645285763.5,179513436444.7,204746810315.6,176992310206.3,...,5.8,7.2,7.4,6.9,6.0,4.8,3.8,3.4,3.8,4.2
Norway,62496307573.5,61247928645.3,64981462461.5,76426795853.2,92568834559.7,117273108265.4,137070774796.1,149059658460.9,186262765957.4,132469983938.4,...,3.1,3.4,3.5,4.3,4.7,4.2,3.8,3.7,4.4,4.4
Austria,55802980000.8,55714748447.5,58718634346.5,72120999370.5,82520293098.1,85579588896.4,91667829765.1,107308731975.8,116482127048.7,103625011337.6,...,4.9,5.4,5.7,5.8,6.1,5.6,4.9,4.6,5.2,6.5
Hungary,12771894597.5,14586580566.3,18123940087.6,22505912663.3,27957077285.9,30772803226.7,31465221731.1,37432615678.2,40786371535.5,32884422736.4,...,11.0,10.2,7.7,6.8,5.1,4.2,3.7,3.4,4.3,4.1
Slovak Republic,8602240961.7,9186375336.2,10321192518.6,14349137201.6,18404478896.0,20052931259.8,24263461619.6,29037646210.1,33347419736.9,26316206586.4,...,14.0,14.2,11.5,11.5,9.7,8.1,6.5,5.8,6.7,6.9
Slovenia,6181817692.6,6377836130.3,7039228927.7,8963510355.2,10412148729.4,10786060191.5,11892448877.2,14734431506.8,16615720186.4,13842320086.8,...,8.9,10.1,9.7,9.0,8.0,6.6,5.1,4.5,5.0,4.7
Poland,49587446216.1,52282664452.0,53032598039.2,59809724614.9,73383639545.1,87671457270.9,99123485434.4,122989631128.3,152959488626.9,129758661581.4,...,10.1,10.3,9.0,7.5,6.2,4.9,3.9,3.3,3.2,3.4
Sweden,69317740280.7,63057865641.7,68353000380.0,84252748475.8,96545877614.3,97664155437.5,106850586864.0,124994377700.2,126751528576.4,97797303300.3,...,8.0,8.1,8.0,7.4,7.0,6.7,6.4,6.8,8.3,8.7
Finland,39809548087.8,40085690765.0,42275655692.9,50687297172.5,58005652827.8,59932804781.3,65650240087.1,78631177500.0,84466957325.8,65048467809.0,...,7.7,8.2,8.7,9.4,8.8,8.6,7.4,6.7,7.8,7.6
Switzerland,71111286712.5,75211495615.1,81760665340.7,94162772703.6,103205843184.6,108030742852.6,114837350454.6,127253705431.5,147185003231.5,137127722635.8,...,4.5,4.8,4.8,4.8,4.9,4.8,4.7,4.4,4.8,5.1
Croatia,5268038777.1,5526566318.6,6194193298.5,8158248282.5,10125523353.2,10877467809.1,11912609604.2,13920778072.4,16181247901.2,14344453272.7,...,15.9,17.3,17.3,16.2,13.1,11.2,8.4,6.6,7.5,7.6
Serbia,2426695416.4,4261926929.8,5431863884.6,6745155890.2,7916295258.4,8067203487.1,9334345558.5,12174781664.1,14409898875.7,11246304412.8,...,24.0,22.2,19.2,17.7,15.3,13.5,12.7,10.4,9.0,10.1
Portugal,29012697494.3,29359954865.2,31672898740.5,37390212661.0,42112820440.7,42179405193.8,44147089432.3,50872998623.5,53700803152.7,48584143669.9,...,15.5,16.2,13.9,12.5,11.1,8.9,7.0,6.5,6.8,6.6
Latvia,1879882966.4,1904497425.6,2160396771.3,2509483458.4,3094097827.5,3436369632.9,4476361926.3,6701957324.6,7805746235.9,5532987211.6,...,15.1,11.9,10.9,9.9,9.6,8.7,7.4,6.3,8.1,7.5
France,290798487446.3,288458984459.1,310032821966.3,372447001882.0,423026299830.1,430812288149.4,447494165107.1,509150407783.1,551302392172.7,494393182475.4,...,9.8,9.9,10.3,10.4,10.1,9.4,9.0,8.4,8.0,7.9
Afghanistan,..,..,917698311.6,1030959880.4,1369254451.0,1669374721.2,1966679570.5,2611814520.8,2758789240.6,2661559229.0,...,1.7,..,7.9,..,..,11.2,..,..,11.7,5.6
Albania,675038886.7,852498955.9,1004680718.3,1349879571.1,1772143145.2,2019589407.5,2251420440.1,2705669378.6,3241078686.8,2940446271.3,...,13.4,15.9,18.1,17.2,15.4,13.6,12.3,11.5,..,..
Algeria,29220247728.5,26933458524.9,27415623874.4,33920472898.8,43944846420.9,58362608374.1,68026294417.1,76513759084.7,98899010262.8,64418079656.0,...,11.0,9.8,10.2,11.2,10.2,12.0,..,..,..,..
Argentina,73866930600.0,67828286700.0,29862244294.4,41650893934.8,47449347396.6,56891104940.0,67914347258.3,78827167842.0,94990190458.2,84190456294.4,...,7.2,7.1,7.3,..,..,8.4,9.2,9.8,11.5,8.7
Australia,102190541983.3,89730599978.5,93446525743.0,112445544554.5,147107696685.2,171265223274.7,191699610661.9,219445709350.7,270401074306.2,251172875865.1,...,5.2,5.7,6.1,6.1,5.7,5.6,5.3,5.2,6.5,5.1
Azerbaijan,2242959320.5,2480725867.1,2878111499.7,3532125038.2,4406940063.1,7751956843.7,13671143944.5,21853280503.4,32101144109.1,24962055237.6,...,5.2,5.0,4.9,5.0,5.0,5.0,4.9,4.9,7.2,6.0
Belarus,4264165461.7,4010863309.4,4643216080.4,5837006338.4,8104907407.4,11430176416.0,13749603729.6,16774044734.4,23590964419.5,18374507697.8,...,0.5,0.5,0.5,1.0,5.8,5.7,4.8,4.2,4.1,3.9
Brazil,150796464998.9,126779377936.7,114678665114.4,128860614037.4,162682715907.1,215530002587.9,260783069875.4,323081070617.8,391486082724.4,364720467540.3,...,7.3,7.1,6.8,8.5,11.6,12.8,12.3,11.9,13.7,13.2
Bulgaria,3003835068.1,3401327871.1,3937423206.5,5142333352.6,6051211351.7,7238043961.6,8722295902.0,11668137858.6,13615211278.1,13821261818.4,...,12.3,12.9,11.4,9.1,7.6,6.2,5.2,4.2,5.1,5.3
Canada,219708437142.3,210222107438.0,209734913655.8,249922203982.6,291488854727.1,342700115530.6,380575634696.8,421344381342.5,455678537956.9,344701250984.2,...,7.3,7.1,6.9,6.9,7.0,6.3,5.8,5.7,9.5,7.5
Chile,21779212534.3,20369904512.2,20046721731.3,22734484100.4,32450927025.0,41630266820.9,59512607434.0,64654551922.3,57463527471.2,54662122226.2,...,6.6,6.2,6.7,6.5,6.7,7.0,7.2,7.3,10.9,9.3
China,551600160384.9,599961047203.7,653667827564.3,757469606448.0,897508414094.8,1074920105771.1,1308842248971.6,1664548697212.0,2157999875113.3,2344597195400.7,...,4.1,4.1,4.1,..,..,3.9,4.9,5.2,5.6,5.1
Colombia,27274801347.5,26736002941.7,26968247828.2,27354936011.2,34803526985.7,44192730799.6,49961895356.7,63048412012.3,77817309524.4,72617431409.7,...,10.0,9.3,8.8,8.6,8.9,9.1,9.4,10.3,16.0,13.9
Costa Rica,3820216690.0,4028648307.8,4073349585.1,4176179993.2,4591059167.0,4863770562.3,5388096166.1,6423775121.3,7254920533.3,7232233326.0,...,9.1,8.2,8.5,8.4,8.1,7.7,9.0,10.8,16.4,15.1
Cyprus,1766099905.7,1808592896.2,2047665384.6,2620403171.0,3129383750.0,3297944285.5,3579003889.1,4361620585.8,4983250329.6,4139447068.6,...,12.1,16.1,16.3,15.0,13.0,11.2,8.5,7.2,7.8,7.5
Ecuador,6161353676.8,7107950000.0,8224370000.0,9080973000.0,10872006000.0,13093236000.0,15859672000.0,17576327000.0,23419962000.0,20267391000.0,...,3.2,3.1,3.5,3.6,4.6,3.8,3.5,3.8,6.1,4.5
Egypt Arab Rep.,30702216351.1,29874447439.4,27401505618.0,26792730769.2,27312240259.7,30597487520.8,38839617391.3,45738528896.7,58960618181.8,67745735027.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Estonia,1414974661.4,1596096141.8,1878115286.8,2578364950.3,3088914285.7,3704488247.7,4587246267.7,6034868601.1,6382211806.1,4608856626.8,...,10.0,8.6,7.4,6.2,6.8,5.8,5.4,4.5,6.8,6.2
Hong Kong SAR China,20741605914.4,19223854952.0,17693777327.6,15910258386.0,15511427837.7,15356614763.5,15474909240.7,14581357192.3,15354189140.6,14707551794.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Iceland,2063586152.9,2014531360.7,2067807121.2,2429858908.3,2980114443.7,3450981650.2,3847004958.7,4298957130.6,4132141461.0,2614382570.5,...,6.0,5.4,4.9,4.0,3.0,2.7,2.7,3.5,5.5,6.0
India,127992796683.8,128582535067.6,142435205180.8,166959952655.5,207206858403.2,242289565890.3,290796431900.9,376010652380.6,373296751400.2,417613522969.3,...,3.2,..,..,..,..,..,7.7,6.5,7.9,6.4
Indonesia,69257791736.2,76843660197.5,93418806749.0,102711934225.9,114620174390.2,133046281901.6,171142373535.4,202273722787.4,245219682002.1,257121363819.6,...,4.5,4.3,4.1,4.5,4.3,3.8,4.4,3.6,4.3,3.8
Israel,31359145513.0,29222436693.1,26801740259.2,27805796754.6,28632702811.2,31182358669.3,34071394811.3,40084154718.7,46918717948.7,43369224881.1,...,6.8,6.1,5.8,5.2,4.7,4.1,3.9,3.7,4.2,4.8
Japan,1615391753390.5,1355339347266.4,1264164832360.4,1359435365964.1,1466316674831.1,1443241678779.0,1365109678218.2,1355482427273.9,1469854246586.0,1434045704771.1,...,4.4,4.0,3.6,3.4,3.1,2.8,2.5,2.4,2.8,2.8
Kazakhstan,6909952840.0,8006389033.9,8822593672.2,10815002159.4,15254902047.3,21494505568.9,31880257975.7,39560803301.7,53710576628.9,44314826026.6,...,5.3,5.2,5.1,4.9,5.0,4.9,4.9,4.8,4.9,..
Korea Rep.,200252528825.1,181937350405.5,205816687848.2,232678560938.6,275508067614.3,319271817362.2,353009586919.9,392283385882.5,340492195113.0,310607472610.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,3035114372.0,3313352611.1,3747845402.5,5232152284.3,6694415052.2,7735343948.3,9064109675.0,11757446633.8,13967160837.1,9381374756.7,...,13.4,11.8,10.7,9.1,7.9,7.1,6.2,6.3,8.5,7.1
Malaysia,45319736842.1,42868684210.5,45496842105.3,51330789473.7,60541315789.5,66554355575.5,75676898751.4,86314579939.5,104108759518.0,82860547595.4,...,3.1,3.2,2.9,3.1,3.4,3.4,3.3,3.3,4.5,..
Malta,1164707035.1,1040637222.2,1163449163.4,1358825537.7,1364598903.8,1343240890.4,1351900639.8,1447440459.9,1752160539.0,1525423728.8,...,6.2,6.1,5.7,5.4,4.7,4.0,3.7,3.6,4.4,3.4
Mexico,242172813888.1,251357714909.6,252558757974.3,227487855037.5,256974329877.7,287666592738.1,333536352025.8,356181234512.5,385789926772.5,287061308839.3,...,4.9,4.9,4.8,4.3,3.9,3.4,3.3,3.5,4.4,4.1
New Zealand,12413823387.3,12449773982.9,15896298486.9,20525222914.4,24471932773.1,27466028303.9,25648790610.2,31510986992.0,30943276867.9,25979761384.2,...,6.9,5.8,5.4,5.4,5.2,4.7,4.3,4.1,4.6,3.8
Nigeria,23489655342.9,20584353310.9,21901259188.1,27234664185.6,38543657088.1,49541872972.9,61406050359.0,67741808764.8,83898996894.5,62650308260.2,...,..,3.7,4.6,4.3,7.1,8.4,..,10.7,..,..
North Macedonia,807630504.4,763686282.9,778681518.8,1112342445.0,1195570118.5,1274376720.9,1486318127.6,1715724192.8,1935644900.5,1783762579.2,...,31.2,29.1,28.4,26.4,24.3,22.8,21.2,17.4,16.6,15.8